# Salin file ini menjadi .env.local dan isi dengan kredensial project Supabase Anda
# Didapat dari: Supabase Dashboard -> Project Settings -> API

NEXT_PUBLIC_SUPABASE_URL=https://hclrvseucigbybbpzhib.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjbHJ2c2V1Y2lnYnliYnB6aGliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxNzk1NTMsImV4cCI6MjEwMTc1NTU1M30.fWwoWIEfYJUXgFnp87eIasl2XF3eaQwGeF6RYuqW-eQ
# Hanya untuk server-side (Server Actions, Route Handlers, cron/job) — JANGAN pernah expose ke client
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjbHJ2c2V1Y2lnYnliYnB6aGliIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjE3OTU1MywiZXhwIjoyMTAxNzU1NTUzfQ.eeOdCjzk-HC7Pz8kV1AK12F6U-T5h2Kt5ihAL4nNS3I

# Digunakan skrip db:types (opsional)
SUPABASE_PROJECT_ID=xxxxxxxxxxxx
